* {
  font-family: 'Baloo Paaji 2', cursive;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #FFF2DF;
}

/* The alert message box */
#alert {
  padding: 0.5rem 4rem;
  background-color: #2196F3;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  transition: opacity 1s ease-in-out, background-color 0.3s ease-in;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0.3rem 0.4rem 0.3rem #808080, 0.3rem 0rem 0.3rem #808080;
  font-weight: bold;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.3rem;
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#alert img{
  border-radius: 50%;
  max-height: 3rem;
  vertical-align: middle;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.alertHidden {
  visibility: hidden;
  opacity: 0;
}

.alertShown {
  visibility: visible;
  opacity: 1;
}

.titleDiv {
  overflow-y: hidden;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 0rem;
  margin-bottom: 0;
  color: black;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  color: black;
  font-weight: normal;
}

.pictures {
  margin-top: 2rem;
  display:flex;
  justify-content : center;
  max-width: 100%;
}

.pictures img {
  width: auto;
  max-height: 14rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: #FFE5BF;
}

.pictures img:hover {
  box-shadow: 10px 10px 5px grey;
  transform: scale(1.05);
  cursor: pointer;
  background-color: #FFCC80;
}

.active{
  background-color: #FFCC80 !important;
}
